
    <footer>
        <div id="footer-bar">
            <ul>
                <li><a href="/">©Carbon Car Traders</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
        </ul>
        </div>
</footer>
</body>

</html>