<%- include('./partials/header.ejs') %>
<div id="main-content-area">

    <div id="main-content-text">
        <h3>
            About
        </h3>
       <p>
        Our mission at Carbon Traders is to be your ultimate online solution for buying and selling new, certified and used cars. Our site is designed to give you more control of the buying process and make finding a vehicle easier than ever before.
       </p>
    </div>
</div>
<%- include('./partials/footer.ejs')%>
