<%- include('./partials/header.ejs') %>
<div id="main-content-area">
    <div id="main-content-text">
        <h3>For queries, reach us at <br> </h3>
        <h4><br> Email: contactus@cct.com<br> Phone: 9988645123<br></h4>
    </div>
</div>
<%- include('./partials/footer.ejs')%>
