<%- include('./partials/header.ejs') %>

    <div id="main-content-area">

        <div id="main-content-wallpaper">
            <img src="/image/Cars.jpg"/> 
            <p id="tagline">Ride like a Boss</p>
        </div>
        <div id="main-content-text">
        <h3>
            Trade
        </h3>
       <p>
        Check out our free, secure methods for tradining your car. You can either trade directly to a private-party shopper or get an Instant Offer from a dealership. Choose the option that’s right for you!
       </p>
       <br>
       <h3>
        Certified Pre-Owned
        </h3>
       <p>
        Learn why you should consider a Certified Pre-Owned car, and get info on manufacturer programs.
        </p>
        <br>
        <h3>
        Service $ Repair
        </h3>
        <p>
        Watch do-it-yourself tutorials or find local repair options.
        </p>

    </div>
    </div>

    <%- include('./partials/footer.ejs')%>